.experience-information {
  margin-left: 7vw;
  margin-right: 2vw;
  margin-top: 50px;
  margin-bottom: 30px;
  overflow: hidden;
}

.experience-header {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 700;
}

.experience-position {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 300;
}

.experience-date {
  margin-bottom: 15px;
  font-weight: 700;
  font-style: italic;
  color: rgb(123, 175, 212);
}

.experience-img {
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 5vw;
  margin-left: 4vw;
  width: 25vw;
}

