.footer {
  background-color: black;
  color: white;
  height: 100px;
  margin-top: 90px;
}

.socials {
  display: flex;
  flex-direction: horizontal;
  justify-content: right;

}

.instagram-icon {
  width: 50px;
  margin-top: 25px;
}

.linkedin-icon {
  width: 55px;
  margin-top: 23px;
  margin-left: 25px;
}

.github-icon {
  width: 55px;
  margin-top: 23px;
  margin-left: 19px;
  margin-right: 25px;
}

.instagram-icon:hover, .linkedin-icon:hover, .github-icon:hover {
  cursor: pointer;
}