.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8vw;
  margin-right: 8vw;
  text-align: center;
}

.project-header {
  font-size: 50px;
  font-weight: 700;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 6vw;
  margin-right: 6vw;
  justify-items: baseline;
}

.project-icon {
  width: 90%;
}

@media (max-width: 825px) {
  .project-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 826px) {
  .project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

