.resume {
  width: 90vw;
  height: 80vh;
  margin-top: 25px;
  padding: 2vw;
  border: 0.5vw solid black;
}

.resume-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resume-header {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 3vw;
}